@model MyNotes.ViewModels.KycFormViewModel


@{
    ViewData["Title"] = "Create Kyc Form";
}


<div>
    <div>
        <div>
            <form asp-action="Create" asp-controller="KycForm" method="post" enctype="multipart/form-data">
                <h4>Kyc Form Details</h4>
                <hr />
                <div class="mb-3">
                    <label asp-for="FullName"></label>
                    <input type="text" asp-for="FullName" class="form-control">
                    <span class="text-danger" asp-validation-for="FullName"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber"></label>
                    <input type="text" asp-for="PhoneNumber" pattern="[0-9]{10}" class="form-control">
                    <span class="text-danger" asp-validation-for="PhoneNumber"> </span>
                </div>
                <div>
                    <h5>Permanent Address:</h5>
                    <div class="row">
                        <div class="col-5">
                            <label asp-for="PermaState"></label>
                            <select id="state" class="form-control"></select>
                            @* <input type="text" asp-for="PermaState" class="form-control"> *@
                            @* <span class="text-danger" asp-validation-for="PermaState"> </span> *@
                        </div>
                        <div class="col-5">
                            <label asp-for="PermaDistrict"></label>
                            <select id="district" class="form-control"></select>
                            @* <input type="text" asp-for="PermaDistrict" class="form-control"> *@
                            @* <span class="text-danger" asp-validation-for="PermaDistrict"> </span> *@
                        </div>
                        <div class="col-5">
                            <label asp-for="PermaMunicipality"></label>
                            <input type="text" asp-for="PermaMunicipality" class="form-control">
                            <span class="text-danger" asp-validation-for="PermaMunicipality"> </span>
                        </div>
                        <div class="col-5">
                            <label asp-for="PermaWard"></label>
                            <input type="text" asp-for="PermaWard" class="form-control">
                            <span class="text-danger" asp-validation-for="PermaWard"> </span>
                        </div>
                        <div class="col-5">
                            <label asp-for="PermaStreet"></label>
                            <input type="text" asp-for="PermaStreet" class="form-control">
                            <span class="text-danger" asp-validation-for="PermaStreet"> </span>
                        </div>
                        <div class="col-8 mt-2">
                            <input type="checkbox" />
                            <label>Use as Temporary Address</label>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h5>Temporary Address:</h5>
                    <div class="row">
                        <div class="col-5">
                            <label asp-for="TempState"></label>
                            <input type="text" asp-for="TempState" class="form-control">
                            <span class="text-danger" asp-validation-for="TempState"> </span>
                        </div>
                        <div class="col-5">
                            <label asp-for="TempDistrict"></label>
                            <input type="text" asp-for="TempDistrict" class="form-control">
                            <span class="text-danger" asp-validation-for="TempDistrict"> </span>
                        </div>
                        <div class="col-5">
                            <label asp-for="TempMunicipality"></label>
                            <input type="text" asp-for="TempMunicipality" class="form-control">
                            <span class="text-danger" asp-validation-for="TempMunicipality"> </span>
                        </div>
                        <div class="col-5">
                            <label asp-for="TempWard"></label>
                            <input type="text" asp-for="TempWard" class="form-control">
                            <span class="text-danger" asp-validation-for="TempWard"> </span>
                        </div>
                        <div class="col-5">
                            <label asp-for="TempStreet"></label>
                            <input type="text" asp-for="TempStreet" class="form-control">
                            <span class="text-danger" asp-validation-for="TempStreet"> </span>
                        </div>
                    </div>
                </div>
                <div>
                    <label asp-for="ProfileImage">Upload Profile Picture: </label>
                    <input asp-for="ProfileImage" />
                    <span asp-validation-for="ProfileImage"></span>
                </div>

                <input type="submit" class="form-control btn btn-success mt-3" value="Save" />
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/CascadingDDL.js"></script>

<script>
    $(document).ready(function () {

        $(".state").change(function () {
            debugger;
            var stateid = $(this).val();
            ajax({
                url: '/KycForm/GetDistricts?StateId=' + stateid,
                success: function (response) {
                    debugger;
                    if (response == 200) { 
                        $(".district").html('');
                        var html = "";
                        $('#district').append('<option>--Select District--</option>');
                        $.each(response, function (i, data) {
                           html+='<option value=' + data.id + '>' + data.name + '</option>';
                        }); 
                        $(".district").append(html);
                },
                error: function (error) {
                    alert(error);
                }
            })
        });

</script>



