@model MyNotes.Models.KycForm


@{
    ViewData["Title"] = "Edit Kyc Form";
}


<div>
    <div>
        <div>
            <form asp-action="Edit" asp-controller="KycForm" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="ID" class="form-control">
                <input type="hidden" asp-for="ProfileImage" class="form-control">

                <h4>Kyc Form Details</h4>
                <hr />
                <div class="mb-3">
                    <label asp-for="FullName"></label>
                    <input type="text" asp-for="FullName" class="form-control">
                    <span class="text-danger" asp-validation-for="FullName"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber"></label>
                    <input type="text" asp-for="PhoneNumber" pattern="[0-9]{10}" class="form-control">
                    <span class="text-danger" asp-validation-for="PhoneNumber"> </span>
                </div>
                <div>
                    <h5>Permanent Address:</h5>
                    <div class="row">
                        <div class="col-5">
                            <label asp-for="PermaState"></label>
                            @Html.DropDownListFor(model => model.PermaState, ViewBag.StateList as SelectList, "<-- Select State -->", new { @class = "form-control state", @id="state"})
                            @* <select id="state" class="form-control state"></select>
                            <input type="text" asp-for="PermaState" class="form-control">
                            <span class="text-danger" asp-validation-for="PermaState"> </span> *@
                        </div>
                        <div class="col-5">
                            <label asp-for="PermaDistrict"></label>
                            @* <select id="district" class="form-control"></select> *@
                            @Html.DropDownListFor(model => model.PermaDistrict, ViewBag.DistrictList as SelectList, "<-- Select District -->", new { @class = "form-control district", @id= "district"}  )

                            @* <input type="text" asp-for="PermaDistrict" class="form-control">
                            <span class="text-danger" asp-validation-for="PermaDistrict"> </span> *@
                        </div>
                        <div class="col-5">
                            <label asp-for="PermaMunicipality"></label>
                            <input type="text" asp-for="PermaMunicipality" class="form-control municipality " id="municipality">
                            <span class="text-danger" asp-validation-for="PermaMunicipality"> </span>
                        </div>
                        <div class="col-5">
                            <label asp-for="PermaWard"></label>
                            <input type="text" asp-for="PermaWard" class="form-control ward " id="ward">
                            <span class="text-danger" asp-validation-for="PermaWard"> </span>
                        </div>
                        <div class="col-5">
                            <label asp-for="PermaStreet"></label>
                            <input type="text" asp-for="PermaStreet" class="form-control street " id="street">
                            <span class="text-danger" asp-validation-for="PermaStreet"> </span>
                        </div>
                        <div class="col-8 mt-2">
                            <input type="checkbox" class="checkbox" id="checkbox" />
                            <label for="checkbox">Use as Temporary Address</label>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h5>Temporary Address:</h5>
                    <div class="row">
                        <div class="col-5">
                            <label asp-for="TempState"></label>
                            @Html.DropDownListFor(model => model.TempState, ViewBag.StateList as SelectList, "<-- Select State -->", new { @class = "form-control tstate", @id="tstate"})
                            @* <input type="text" asp-for="TempState" class="form-control" id="tstate">
                            <span class="text-danger" asp-validation-for="TempState"> </span> *@
                        </div>
                        <div class="col-5">
                            <label asp-for="TempDistrict"></label>
                            @Html.DropDownListFor(model => model.TempDistrict, ViewBag.DistrictList as SelectList, "<-- Select District -->", new { @class = "form-control tdistrict", @id= "tdistrict"}  )

                            @* <input type="text" asp-for="TempDistrict" class="form-control" id="tdistrict">
                            <span class="text-danger" asp-validation-for="TempDistrict"> </span> *@
                        </div>
                        <div class="col-5">
                            <label asp-for="TempMunicipality"></label>
                            <input type="text" asp-for="TempMunicipality" class="form-control tempmun" id="tmunicipality">
                            <span class="text-danger" asp-validation-for="TempMunicipality"> </span>
                        </div>
                        <div class="col-5">
                            <label asp-for="TempWard"></label>
                            <input type="text" asp-for="TempWard" class="form-control tempwar" id="tward">
                            <span class="text-danger" asp-validation-for="TempWard"> </span>
                        </div>
                        <div class="col-5">
                            <label asp-for="TempStreet"></label>
                            <input type="text" asp-for="TempStreet" class="form-control tempstr" id="tstreet">
                            <span class="text-danger" asp-validation-for="TempStreet"> </span>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <label asp-for="ProfileImages">Upload Profile Picture: </label>
                    <input asp-for="ProfileImages" />
                    <span asp-validation-for="ProfileImages"></span>
                </div>
                
                <div class="mt-3">
                  <img src="~/Images/@Model.ProfileImage" />
                </div>

                <input type="submit" class="form-control btn btn-success mt-3" value="Save" />
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {



        $("select.state").change(function () {
            var Id = $(this).val();
            $.ajax({
                type: "Get",
                url: "/KycForm/GetDistricts",
                dataType: "json",
                data: { Id: Id },
                success: function (data) {
                    $("select.district").html("");
                    //$("select[name='District']").html("");
                    var options = "<option value=''>Select District </option>";
                    $.each(data, function (index, item) {
                        options += '<option value="' + item.districtId + '">' + item.name + "</option>";
                    });
                    $("select.district").html(options);
                },
            });
        });


        //For Temporary State and Districts
        $("select.tstate").change(function () {
            var Id = $(this).val();
            $.ajax({
                type: "Get",
                url: "/KycForm/GetDistricts",
                dataType: "json",
                data: { Id: Id },
                success: function (data) {
                    $("select.tdistrict").html("");
                    //$("select[name='District']").html("");
                    var options = "<option value=''>Select District </option>";
                    $.each(data, function (index, item) {
                        options += '<option value="' + item.districtId + '">' + item.name + "</option>";
                    });
                    $("select.tdistrict").html(options);
                },
            });
        });






        // var mun = $(".municipality").val();
        // var war = $(".ward").val();
        // var str = $(".street").val();

        // debugger;

        // $('.checkbox').change(function () {
        //     if ($(this).is(':checked')) {
        //         debugger;
        //         $(".tempmun").val(mun);
        //         $(".tempwar").val(war);
        //         $(".tempstr").val(str);
        //     }
        // }



        $('#checkbox').change(function () {
            if ($(this).is(':checked')) {

                var permanentStateValue = $('#state').val();
                var permanentDistrictValue = $('#district').val();

                $('#tstate').val(permanentStateValue);
                $('#tdistrict').val(permanentDistrictValue);


                $('#tmunicipality').val($('#municipality').val());
                $('#tward').val($('#ward').val());
                $('#tstreet').val($('#street').val());

            } else {
                $('#tstate').val('');
                $('#tdistrict').val('');

                $('#tmunicipality').val('');
                $('#tward').val('');
                $('#tstreet').val('');
                $('#tdistrict').val('');
            }


            if ($(this).is(':checked')) {
                // Checkbox is checked, make the fields read-only
                $('#tstate, #tdistrict').attr('readonly', true);
                $('#tmunicipality, #tward, #tstreet').attr('readonly', true);

            } else {
                // Checkbox is unchecked, make the fields editable
                $('#tstate, #tdistrict').attr('readonly', false);
                $('#tmunicipality, #tward, #tstreet').attr('readonly', false);
            }


        });





    });

</script>


















@* @model MyNotes.Models.KycForm


@{
    ViewData["Title"] = "Edit Kyc Form";
}


<div>
    <div>
        <div>
            <form asp-action="Edit" asp-controller="KycForm" method="post" >
                <div class="mb-3">
                    <label asp-for="FullName"></label>
                    <input type="text" asp-for="FullName" class="form-control">
                    <span class="text-danger" asp-validation-for="FullName"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber"></label>
                    <input type="text" asp-for="PhoneNumber" class="form-control">
                    <span class="text-danger" asp-validation-for="PhoneNumber"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="PermaState"></label>
                    <input type="text" asp-for="PermaState" class="form-control">
                    <span class="text-danger" asp-validation-for="PermaState"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="PermaDistrict"></label>
                    <input type="text" asp-for="PermaDistrict" class="form-control">
                    <span class="text-danger" asp-validation-for="PermaDistrict"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="PermaMunicipality"></label>
                    <input type="text" asp-for="PermaMunicipality" class="form-control">
                    <span class="text-danger" asp-validation-for="PermaMunicipality"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="PermaWard"></label>
                    <input type="text" asp-for="PermaWard" class="form-control">
                    <span class="text-danger" asp-validation-for="PermaWard"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="PermaStreet"></label>
                    <input type="text" asp-for="PermaStreet" class="form-control">
                    <span class="text-danger" asp-validation-for="PermaStreet"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="TempState"></label>
                    <input type="text" asp-for="TempState" class="form-control">
                    <span class="text-danger" asp-validation-for="TempState"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="TempDistrict"></label>
                    <input type="text" asp-for="TempDistrict" class="form-control">
                    <span class="text-danger" asp-validation-for="TempDistrict"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="TempMunicipality"></label>
                    <input type="text" asp-for="TempMunicipality" class="form-control">
                    <span class="text-danger" asp-validation-for="TempMunicipality"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="TempWard"></label>
                    <input type="text" asp-for="TempWard" class="form-control">
                    <span class="text-danger" asp-validation-for="TempWard"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="TempDistrict"></label>
                    <input type="text" asp-for="TempDistrict" class="form-control">
                    <span class="text-danger" asp-validation-for="TempDistrict"> </span>
                </div>

                <input type="submit" class="form-control btn btn-success" value="Save" />
            </form>
        </div>
    </div>
</div>
 *@