@model MyNotes.ViewModels.LectureViewModel


@{
    ViewData["Title"] = "Edit Lecture Class";
}



<div>
    <div>
        <div> <h1>Edit Lecture: </h1> </div>
        <form asp-action="Edit" asp-controller="Lecture" method="post">
            <div>
                <label asp-for="Name"></label>
                <select asp-for="Name">
                    <option value="IT">IT</option>
                    <option value="Finance">Finance</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Management">Management</option>
                </select>
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <input type="submit" class="form-control btn btn-success" value="Save" />
            </div>
        </form>
    </div>
</div>
