@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2 mt-5 fw-bold text-danger">Welcome to Notes Application</h1>
    <p class="display-5 mt-5">Day ??</p>
</div>

