@model MyNotes.ViewModels.StudentViewModel;


@{
    ViewData["Title"] = "Edit Student Profile";
}


<div>
    <div>
        <form asp-action="Edit" asp-controller="Student" method="post">
            <span type="hidden" asp-for="ID"></span>
            <span type="hidden" asp-for="CreatedDate"></span>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Email"></label>
                <input type="email" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Address"></label>
                <input asp-for="Address" />
                <span asp-validation-for="Address"></span>
            </div>
            <div>
                <label asp-for="Gender"></label>
                <select asp-for="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>

                </select>
                <span asp-validation-for="Gender"></span>
            </div>
            @* <div>
                <label asp-for="Degree"></label>
                <select asp-for="Degree">
                    <option value="IT">IT</option>
                    <option value="MBBS">MBBS</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Management">Management</option>
                    <option value="Finance">Finance</option>
                </select>
                <span asp-validation-for="Degree"></span>
            </div> *@


            <div class="mb-3">
                <input type="submit" class="form-control btn btn-success" value="Save">
            </div>

        </form>

    </div>
</div>
